<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YELPCAMP</title>
    <link rel ="stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <style>
        .main-nav{
          width:100%;
          /* display:flex; */
        }
        .nav-cont{
          display:inline;
        }
        .nav-cont .brand{
          font-size:35px;
        }
        .nav-cont ul li{
          list-style:none;
          padding:10px;
          font-size:15px;
        }
        </style>
        
        <nav class ="main-nav container-fluid">
          <div class ="nav-cont">
            <a href ="/" class ="brand">YelpCamp</a>
            <div style="display:inline-block;">
            <ul>
              <li style="display:inline-block;"><a href ="/" >Login</a></li>
              <li style="display:inline-block;"><a href ="/">SignUp</a></li>
              <li style="display:inline-block;"><a href ="/">Logout</a></li>
            </ul>
            </div>
          </div>
        </nav>
