<%- include('./partials/header.ejs') %>

<link rel ="stylesheet" href= "/css/style.css">
<h1>LANDING PAGE</h1>
<p>Welcome to Campground</p>
<a href ="/campgrounds">View all campground</a>

<%- include('./partials/footer.ejs') %>